@tailwind base;
@tailwind components;

.res-text-hero{
  @apply ~2xl/sm:~text-hero/mobile-hero text-text-normal
}

.res-text-21{
  @apply ~lg/sm:~text-21/mobile-21
}

.res-text-28{
  @apply ~lg/sm:~text-28/mobile-28
}

.res-text-38{
  @apply ~lg/sm:~text-38/mobile-38
}

.res-text-50{
  @apply ~lg/sm:~text-50/mobile-50
}

.res-text-80{
  @apply ~lg/sm:~text-80/mobile-80
}

.xpadding {
  @apply px-[5vw]
}

.ypadding {
  @apply py-48
}

@tailwind utilities;

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
}

body {
  background-color: #F4F4F4;
}

@layer utilities {

}

.sliderContainer{
  position: absolute;
}

.slider{
  position: relative;
  white-space: nowrap;
}

.slider p{
  position: relative;
  margin: 0px;
  color: white;
  font-size: 230px;
  font-weight: 500;
  padding-right: 50px;
}

.slider p:nth-of-type(2){
  position: absolute;
  left: 100%;
  top: 0;
}

/* In your global CSS file */
@keyframes fillBackground {
  0% {
    transform: translate(-100%, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}