@tailwind base;
@tailwind components;

.res-text-hero{
  @apply ~2xl/sm:~text-hero/mobile-hero text-text-normal
}

.res-text-base{
  @apply ~lg/sm:~text-16/mobile-16
}

.res-text-21{
  @apply ~lg/sm:~text-21/mobile-21
}

.res-text-28{
  @apply ~lg/sm:~text-28/mobile-28
}

.res-text-38{
  @apply ~lg/sm:~text-38/mobile-38
}

.res-text-50{
  @apply ~lg/sm:~text-50/mobile-50
}

.res-text-64{
  @apply ~lg/sm:~text-64/mobile-64
}

.res-text-80{
  @apply ~lg/sm:~text-80/mobile-80
}

.res-text-180{
  @apply ~lg/sm:~text-180/mobile-180
}

.xpadding {
  @apply px-3
}

.ypadding {
  @apply ~sm/lg:~py-12/36
}

@tailwind utilities;

html {
  overflow: scroll;
  overflow-x: hidden;
}

/* Lenis scroll */
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
}

html {
  background-color: #F4F4F4;
}

@layer utilities {

}

.sliderContainer{
  position: absolute;
}

.slider{
  position: relative;
  white-space: nowrap;
}

.slider p{
  position: relative;
  margin: 0px;
  color: white;
  font-size: 120px;
  font-weight: 500;
  padding-right: 50px;
}

.slider p:nth-of-type(2){
  position: absolute;
  left: 100%;
  top: 0;
}

/* In your global CSS file */
@keyframes fillBackground {
  0% {
    transform: translate(-100%, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* Slider */
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.transition-border {
  transition-property: border-color;
  transition-duration: 0.5s; /* Adjust transition duration as needed */
}